<h1>Welcome to the Car Simulator</h1><hr/>
<p>Try before you buy
<!-- <p>Find me in app/views/welcome/create_car.html.erb</p> -->

<form action="create_car" method="get">
  Make: <input type="text" name="make"/></br>
  Model Year: <input type="number" name="year"/></br>
  Color: <input type="color" name="color"/></br>
  <textarea name="desc" maxlength="100" placeholder="Enter a description..."/></textarea></br>
  <input type="submit" value="Simulate Car"/>
</form>
